/* these 3 needs to be 100
if we remove one of these, it wont work
*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, #root {
    height: 100%;
    scrollbar-color: #323844 #21252b;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    /*background: #21252b;*/
    background: #282c34;

}

::-webkit-scrollbar-thumb {
    background: #323844;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #282c34;
}

::-webkit-scrollbar-corner {
    background: #282c34;
}



p {
    margin-bottom: 16px;
}